:root {
    --text-tn: 10px;
    --text-sm: 12px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 24px;
  
    --title-sm: 32px;
    --title-md: 36px;
    --title-lg: 40px;
    --title-xl: 44px;
  
    --space-tn: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-hg: 36px;
  }